.wei-btn {
  width: 98%;
  display: inline-block;
  text-align: center;
  border: 1px solid #ffffff;
  height: auto;
  font-size: 14px;
  margin: 0 auto;
  border-radius: 4px;
}

a.unfillet-btn{
  border-radius: 0;
}
a.wei-btn:link, a.wei-btn:visited, a.wei-btn:hover, a.wei-btn:active{
  text-decoration: none;
}
.wei-bg-white {
  color: #5f646e;
  border: 1px solid #bfbfbf;
  background-color: #ffffff;
}

.wei-bg-white:link, .wei-bg-white:visited, .wei-bg-white:hover, .wei-bg-white:active {
  color: #5f646e;
  border: 1px solid #bfbfbf;
  background-color: #ffffff;
}
.wei-bg-sRed {
  color: #ffffff;
  background-color: #ff8000;
  border: 1px solid #ff8000;
}

.wei-bg-sRed:link, .wei-bg-sRed:visited, .wei-bg-sRed:hover, .wei-bg-sRed:active {
  color: #ffffff;
  background-color: #ff8000;
  border: 1px solid #ff8000;
}
.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  top: 133%;
  right: 42.7%;
}
#preview-pane .preview-container {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  width: 25mm;
  height: 35mm;
  overflow: hidden;
}
.pc-print-container{
  position: relative;
  width: 125.1mm;
  margin: 0 auto;
}
.pc-print{
  position: relative;
  width: 125.1mm;
  height: 180.1mm;
  margin: 0 auto;
  background: url("../img/bless.png") no-repeat center;
  background-size: auto 100%;
  font-size: 24px;
}
.user-photo-container{
  position: absolute;
  width: 25mm;
  height: 35mm;
  left: 41.37mm;
  bottom: 108.60mm;
  border: 0.1mm solid #585858;
  overflow: hidden;
}
.user-name-container{
  position: absolute;
  width: 5mm;
  height: 45mm;
  padding: 0 2mm 0 2mm;
  line-height: 5mm;
  font-size: 2mm;
  font-family: LiSu ,SimSun,FangSong ,KaiTi, SimHei,PMingLiU;
  left: 72.06mm;
  bottom: 100.31mm;
  word-wrap: break-word;
  word-break: normal;
  text-align: center;
}
.pri-btn{
  position: absolute;
  left: 41.37mm;
  top: 41%;
  width: 25mm;
}
.pri-btn a.wei-btn{
  float: left;
  width: 45%;
}
.pri-btn a.wei-btn:first-child{
  margin-right: 2.5%;
}
.pri-btn a.wei-btn:last-child{
  margin-left: 2.5%;
}
.cut-pop{
  position: absolute;
  width: 460px;
  min-height: 460px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
  background-color: #fff;
  z-index: 3000;
}
.show-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.cut-pop{
  border: 1px solid #eee;
  padding: 20px;
}
.cut-btn{
  width: 100%;
}
.cut-btn a.wei-btn{
  margin-top: 20px;
  width: 45%;
  line-height: 30px;
  height: 30px;
}
.cut-btn a.wei-btn:first-child{
  margin-right: 4%;
}
.cut-btn a.wei-btn:last-child{
  margin-left: 4%;
}
