html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend{
    margin:0;
    padding:0;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    list-style:none
}

body{
    font-size:12px
}

h1{
    font-size:2em;
    line-height:1;
    margin-bottom:0.5em
}

h2{
    font-size:1.5em;
    margin-bottom:0.5em
}

h3{
    font-size:1.2em;
    line-height:1;
    margin-bottom:0.3em
}

h4{
    font-size:1em;
    line-height:1.25;
    margin-bottom:0.2em
}

h5{
    font-size:1em;
    font-weight:bold;
    margin-bottom:0.2em
}

h6{
    font-size:1em;
    font-weight:bold
}

p{
    margin:0 0 0.5em
}

a{
    color:#237efb;
    text-decoration:none;
    outline:0
}

a:hover{
    color:#005fe2;
    text-decoration:none
}

.lnk{
    color:#237efb;
    cursor:pointer
}

a.lnk{
    text-decoration:none
}

a.lnk:hover{
    text-decoration:underline
}

img{
    border:none;
    -ms-interpolation-mode:bicubic
}

input, button, select, textarea{
    outline:0
}

.gray{
    color:#999
}

.red{
    color:#ea4f2b
}

.orange{
    color:#f90
}

.green{
    color:#80b534
}

.blue{
    color:#016afa
}

.black{
    color:#333
}

.f-l{
    float:left
}

.f-r{
    float:right
}

.t-r{
    text-align:right !important
}

.t-l{
    text-align:left !important
}

.t-c{
    text-align:center !important
}

s.ico{
    display:inline-block;
    *display:inline;
    zoom:1;
    overflow:hidden
}

.clearfix:after{
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden
}

* html .clearfix{
    zoom:1
}

* + html .clearfix{
    zoom:1
}

.clearfix{
    display:block
}

.clear{
    clear:both
}

.hide{
    display:none
}

.container{
    width:1180px;
    margin:0 auto;
    *zoom:1;
    display:block
}

.container:after{
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden
}

.img-placeholder{
    background:url('../img/img_add.png?1427785739') no-repeat center center;
    width:100px;
    height:100px;
    display:inline-block;
    *zoom:1
}

.loading{
    background:url('../img/loading.gif?1427785740') center center no-repeat;
    min-height:40px
}

p.note{
    color:#777;
    padding:40px 0;
    text-align:center
}

.label, .label-info, .label-warn, .label-error{
    background:#fafafa;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:1px 3px;
    font-size:12px;
    display:inline-block;
    *display:inline;
    white-space:nowrap;
    vertical-align:middle;
    margin:0 2px 0 0
}

.label-info{
    background:#016afa;
    color:#fff
}

.label-warn{
    background:#f90;
    color:#fff
}

.label-error{
    background:#ea4f2b;
    color:#fff
}

.alert, .alert-success, .alert-info, .alert-error{
    background-color:#FCF8E4;
    border:1px solid #F4E5C8;
    color:#c2995a;
    padding:10px 20px;
    line-height:1.5;
    font-size:12px;
    margin:0 0 15px;
    position:relative;
    *zoom:1;
    display:block;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px
}

.alert:after, .alert-success:after, .alert-info:after, .alert-error:after{
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden
}

.alert .close, .alert-success .close, .alert-info .close, .alert-error .close{
    position:absolute;
    top:5px;
    right:5px;
    font-size:12px;
    color:#ddd
}

.alert .close .iconfont, .alert-success .close .iconfont, .alert-info .close .iconfont, .alert-error .close .iconfont{
    font-size:10px
}

.alert p, .alert-success p, .alert-info p, .alert-error p{
    margin:0 0 0.5em
}

.alert-success{
    background:#fafff4;
    border:1px solid #c9e2a4;
    color:#699b21
}

.alert-info{
    background:#fafafa;
    border:1px solid #ddd;
    color:#999
}

.alert-error{
    background:#fff4f4;
    color:#ea4f2b;
    border:1px solid #ec5d3c
}

.hint{
    color:#999;
    line-height:22px;
    font-size:12px
}

.num{
    font-size:1.2em;
    color:#ea4f2b
}

.time{
    color:#777;
    font-size:1.1em
}

.f-price{
    color:#ea5b23;
    font-size:18px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}

.m10{
    margin-bottom:10px
}

.um10{
    margin-top:-10px
}

.full{
    width:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

.hide{
    display:none
}

.size-80{
    width:80px;
    height:80px;
    line-height:80px;
    text-align:center;
    color:#999
}

.size-160{
    width:160px;
    height:160px;
    line-height:160px;
    text-align:center;
    color:#999
}

ol.decimal li{
    margin-left:15px;
    list-style-type:decimal
}

.icheckbox_minimal-red, .iradio_minimal-red{
    display:inline-block;
    *display:inline;
    vertical-align:middle;
    margin:0 8px 0 0;
    padding:0;
    width:18px;
    height:18px;
    background:url('../img/icheck/red.png?1427785743') no-repeat;
    border:none;
    cursor:pointer
}

.icheckbox_minimal-red{
    background-color:#fff;
    background-position:0 0
}

.icheckbox_minimal-red.hover{
    background-position:-20px 0
}

.icheckbox_minimal-red.checked{
    background-position:-40px 0
}

.icheckbox_minimal-red.disabled{
    background-position:-60px 0;
    cursor:default
}

.icheckbox_minimal-red.checked.disabled{
    background-position:-80px 0
}

.iradio_minimal-red{
    background-position:-100px 0
}

.iradio_minimal-red.hover{
    background-position:-120px 0
}

.iradio_minimal-red.checked{
    background-position:-140px 0
}

.iradio_minimal-red.disabled{
    background-position:-160px 0;
    cursor:default
}

.iradio_minimal-red.checked.disabled{
    background-position:-180px 0
}

@media (-o-min-device-pixel-ratio:5 / 4), (-webkit-min-device-pixel-ratio:1.25), (min-resolution:120dpi){
    .icheckbox_minimal-red, .iradio_minimal-red{
        background-image:url('../img/icheck/red@2x.png?1427785743');
        -webkit-background-size:200px 20px;
        background-size:200px 20px
    }
}

@font-face{
    font-family:"iconfont";
    src:url('../font/iconfont.eot?1427785739');
    src:url('../font/iconfont.eot?1427785739#iefix') format("embedded-opentype"), url('../font/iconfont.woff?1427785740') format("woff"), url('../font/iconfont.ttf?1427785740') format("truetype"), url('../font/iconfont.svg?1427785739#iconfont') format("svg")
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -webkit-text-stroke-width:0.2px;
    -moz-osx-font-smoothing:grayscale
}

.icon-zhengque:before{
    content:"\e620"
}

.icon-cuowu:before{
    content:"\e621"
}

.icon-jinzhi:before{
    content:"\e622"
}

.icon-tixing:before{
    content:"\e62d"
}

.icon-tishi:before{
    content:"\e62e"
}

.icon-jinggao:before{
    content:"\e623"
}

.icon-zhanghu:before{
    content:"\e62f"
}

.icon-bingtu:before{
    content:"\e630"
}

.icon-shuzhuangtu:before{
    content:"\e631"
}

.icon-paixu:before{
    content:"\e602"
}

.icon-xiangzuo:before{
    content:"\e61d"
}

.icon-xiangshang:before{
    content:"\e61e"
}

.icon-xiangyou:before{
    content:"\e61f"
}

.icon-sousuo:before{
    content:"\e600"
}

.icon-shanchu:before{
    content:"\e624"
}

.icon-xinxi:before{
    content:"\e601"
}

.icon-shoucang:before{
    content:"\e603"
}

.icon-weizhi:before{
    content:"\e604"
}

.icon-jian:before{
    content:"\e625"
}

.icon-jia:before{
    content:"\e626"
}

.icon-cuowu1:before{
    content:"\e605"
}

.icon-zhengque1:before{
    content:"\e606"
}

.icon-xiaosuolvetu:before{
    content:"\e63c"
}

.icon-shuaxin:before{
    content:"\e632"
}

.icon-dasuolvetuliebiao:before{
    content:"\e627"
}

.icon-liebiao:before{
    content:"\e628"
}

.icon-xiazai:before{
    content:"\e633"
}

.icon-guolv:before{
    content:"\e634"
}

.icon-bianjimoban:before{
    content:"\e635"
}

.icon-xiangyou1:before{
    content:"\e629"
}

.icon-xiangzuo1:before{
    content:"\e62a"
}

.icon-xiangshang1:before{
    content:"\e62b"
}

.icon-xiangxia:before{
    content:"\e62c"
}

.icon-tuichu:before{
    content:"\e636"
}

.icon-xuanze:before{
    content:"\e607"
}

.icon-guanji:before{
    content:"\e637"
}

.icon-weibo:before{
    content:"\e643"
}

.icon-bianji:before{
    content:"\e657"
}

.icon-renren:before{
    content:"\e64d"
}

.icon-weixin:before{
    content:"\e64e"
}

.icon-faxiaoxi:before{
    content:"\e63a"
}

.icon-fenxiang:before{
    content:"\e64a"
}

.icon-favorfill:before{
    content:"\e608"
}

.icon-favor:before{
    content:"\e609"
}

.icon-location:before{
    content:"\e60a"
}

.icon-phone:before{
    content:"\e60b"
}

.icon-roundcheckfill:before{
    content:"\e60c"
}

.icon-roundcheck:before{
    content:"\e60d"
}

.icon-roundclosefill:before{
    content:"\e60e"
}

.icon-roundclose:before{
    content:"\e60f"
}

.icon-roundrightfill:before{
    content:"\e610"
}

.icon-roundright:before{
    content:"\e611"
}

.icon-timefill:before{
    content:"\e612"
}

.icon-time:before{
    content:"\e613"
}

.icon-unfold:before{
    content:"\e638"
}

.icon-likefill:before{
    content:"\e614"
}

.icon-like:before{
    content:"\e615"
}

.icon-deliver:before{
    content:"\e616"
}

.icon-back:before{
    content:"\e639"
}

.icon-close:before{
    content:"\e644"
}

.icon-questionfill:before{
    content:"\e617"
}

.icon-question:before{
    content:"\e618"
}

.icon-right:before{
    content:"\e619"
}

.icon-cartfill:before{
    content:"\e61a"
}

.icon-cart:before{
    content:"\e61b"
}

.icon-message:before{
    content:"\e61c"
}

.icon-renzhengyonghu:before{
    content:"\e63b"
}

.icon-gengduo:before{
    content:"\e64f"
}

.icon-shopping-cart:before{
    content:"\e63d"
}

.icon-tengxunweibo2:before{
    content:"\e650"
}

.icon-fenxiang1:before{
    content:"\e63e"
}

.icon-icon:before{
    content:"\e651"
}

.icon-erweima01:before{
    content:"\e63f"
}

.icon-baifubao0101:before{
    content:"\e640"
}

.icon-caifutong:before{
    content:"\e641"
}

.icon-weixin1:before{
    content:"\e642"
}

.icon-zhifubao:before{
    content:"\e645"
}

.icon-fanhuidingbu:before{
    content:"\e648"
}

.icon-gonggao:before{
    content:"\e649"
}

.icon-weixin2:before{
    content:"\e64b"
}

.icon-dianhua:before{
    content:"\e64c"
}

.icon-baobei:before{
    content:"\e646"
}

.icon-gouwuche:before{
    content:"\e647"
}

.icon-add:before{
    content:"\e652"
}

.icon-right1:before{
    content:"\e653"
}

.icon-edit:before{
    content:"\e654"
}

.icon-xihuanmiaobian:before{
    content:"\e655"
}

.icon-xihuantianse:before{
    content:"\e656"
}

.ico{
    background-image:url('../img/sp.png?1427785740')
}

.share-ico{
    background-image:url('../img/sp_share.png?1427785739')
}

.event-ico{
    background-image:url("../img/sp_events.png")
}

.wx-ico{
    background-image:url("../img/sp_wx.png")
}

i.ico{
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:middle;
    margin:0 2px 0 0
}

.ico-loading{
    background:url('../img/loading.gif?1427785740') no-repeat center center;
    width:16px;
    height:16px
}

.ico-arr-down{
    border:5px dashed transparent;
    border-top:5px solid #ccc;
    width:0;
    height:0;
    font-size:0;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:-3px
}

.ico-arr-left{
    border:5px dashed transparent;
    border-right:5px solid #ccc;
    width:0;
    height:0;
    font-size:0;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:-3px
}

.ico-arr-right{
    border:5px dashed transparent;
    border-left:5px solid #ccc;
    width:0;
    height:0;
    font-size:0;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:-3px
}

.ico-arr-up{
    border:5px dashed transparent;
    border-bottom:5px solid #ccc;
    width:0;
    height:0;
    font-size:0;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:-3px
}

.ico-nav-folder{
    background-position:-5px -147px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:20px;
    height:20px
}

.ico-nav-shop{
    background-position:-5px -177px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:20px;
    height:20px
}

.ico-nav-timer{
    background-position:-5px -207px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:20px;
    height:20px
}

.ico-code-2d{
    background-position:-5px -5px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:16px;
    height:16px
}

.ico-logo{
    border:1px solid #ddd
}

.ico-logo-taobao{
    background-position:-5px -71px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:33px;
    height:33px
}

.ico-wb-approve-co{
    background-position:-5px -237px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:16px;
    height:14px
}

.ico-item-hl{
    background-position:-5px -31px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:30px;
    height:30px
}

.ico-move-handler{
    background-position:-5px -114px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:8px;
    height:23px
}

i.share-ico{
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:-3px
}

.ico-share-qq{
    background-position:-5px -57px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:16px;
    height:16px
}

.ico-share-weibo{
    background-position:-5px -109px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:16px;
    height:16px
}

.ico-share-wy-weibo{
    background-position:-5px -135px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:16px;
    height:16px
}

.ico-share-qq-weibo{
    background-position:-5px -31px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:16px;
    height:16px
}

.ico-share-renren{
    background-position:-5px -83px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:16px;
    height:16px
}

.ico-share-douban{
    background-position:-5px -5px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:16px;
    height:16px
}

.ico-auth-personal{
    background-position:-5px -95px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-auth-company{
    background-position:-5px -5px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-auth-shop{
    background-position:-5px -185px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-event-survey{
    background-position:-5px -1033px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-event-apply{
    background-position:-5px -582px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-event-bigwheel{
    background-position:-5px -672px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-event-card{
    background-position:-5px -762px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-event-popular{
    background-position:-5px -942px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:81px;
    height:81px
}

.ico-event-more{
    background-position:-5px -852px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-shop-mobile{
    background-position:-5px -1213px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-shop-weibo{
    background-position:-5px -1393px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-shop-wx{
    background-position:-5px -1483px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-shop-bdzhida{
    background-position:-5px -1123px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-shop-offline{
    background-position:-5px -1303px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-dk-sell{
    background-position:-5px -482px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:90px;
    height:90px
}

.ico-dk-event{
    background-position:-5px -275px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:90px;
    height:90px
}

.ico-dk-promot{
    background-position:-5px -375px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:99px;
    height:97px
}

.ico-reply-droid{
    background-position:-5px -95px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-reply-droid-g{
    background-position:-5px -5px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-reply-follow{
    background-position:-5px -275px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-reply-follow-g{
    background-position:-5px -185px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-reply-msg{
    background-position:-5px -455px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.ico-reply-msg-g{
    background-position:-5px -365px;
    background-repeat:no-repeat;
    overflow:hidden;
    display:block;
    width:80px;
    height:80px
}

.wgt-tabs{
    *zoom:1;
    display:block;
    margin:0 0 5px;
    padding:0 20px;
    border-bottom:1px solid #ddd;
    position:relative;
    font-size:14px
}

.wgt-tabs:after{
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden
}

.wgt-tabs .tab{
    display:inline-block;
    vertical-align:middle;
    *vertical-align:auto;
    *zoom:1;
    *display:inline;
    height:35px;
    line-height:35px;
    overflow:hidden;
    padding:0 20px
}

.wgt-tabs .tab a{
    color:#000;
    display:block
}

.wgt-tabs .cur{
    background:#fff;
    border:1px solid #ddd;
    border-top:2px solid #ea4f2b;
    border-bottom:none;
    height:33px;
    line-height:28px;
    position:relative;
    bottom:-1px
}

.tab-item{
    display:none
}

.wgt-number .btn-increase, .wgt-number .btn-decrease{
    background:#fefefe;
    *zoom:1;
    filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEFEFE', endColorstr='#FFF8F8F8');
    background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f8f8f8));
    background:-moz-linear-gradient(top, #fefefe, #f8f8f8);
    background:-webkit-linear-gradient(top, #fefefe, #f8f8f8);
    background:linear-gradient(to bottom, #fefefe, #f8f8f8);
    height:22px;
    line-height:22px;
    font-size:14px;
    font-weight:normal;
    font-family:Arial;
    display:inline-block;
    border:1px solid #cccccc;
    vertical-align:middle;
    width:22px;
    text-align:center;
    cursor:pointer;
    -moz-user-select:-moz-none;
    -ms-user-select:none;
    -webkit-user-select:none;
    user-select:none
}

.wgt-number .btn-increase:hover, .wgt-number .btn-decrease:hover{
    background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(100%, #e8e8e8));
    background:-moz-linear-gradient(top, #efefef, #e8e8e8);
    background:-webkit-linear-gradient(top, #efefef, #e8e8e8);
    background:linear-gradient(to bottom, #efefef, #e8e8e8)
}

.wgt-number .input-text, .wgt-number .input-price{
    border-left:0;
    border-right:0;
    vertical-align:middle;
    width:16px;
    height:18px;
    line-height:18px;
    padding-left:6px;
    padding-right:6px;
    text-align:center;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0
}

.wgt-region-select, .wgt-category-select{
    width:150px;
    margin:0 5px 2px 0;
    height:34px;
    line-height:34px;
    border:0;
    padding:5px;
    border:1px solid #eaeaea
}

.wgt-dynamic-select{
    margin:0 5px 2px 0;
    height:34px;
    line-height:34px;
    border:0;
    padding:5px;
    border:1px solid #eaeaea
}

.wgt-notify{
    background:#f9edc0;
    color:#222;
    border:1px solid #eeca87;
    position:absolute;
    display:inline-block;
    _display:inline;
    *zoom:1;
    left:50%;
    width:180px;
    margin-left:-90px;
    text-align:center;
    padding:7px 8px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    -moz-box-shadow:0 0 3px #eeca87;
    -webkit-box-shadow:0 0 3px #eeca87;
    box-shadow:0 0 3px #eeca87
}

.notify-success{
    background:#62d72f
}

.notify-error{
    background:#d72f2f
}

.pagination{
    font-size:0;
    text-align:center;
    margin:15px 0
}

.pagination li{
    display:inline;
    font-size:12px;
    margin:0 2px
}

.pagination a, .pagination span{
    text-align:center;
    display:inline-block;
    *display:inline;
    *zoom:1;
    border:none;
    background:transparent;
    line-height:34px;
    height:34px;
    width:34px;
    vertical-align:middle
}

.pagination a{
    color:#555
}

.pagination a:hover{
    background:#ea4f2b;
    color:#fff;
    border-color:#ea4f2b;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px
}

.pagination .active, .pagination span{
    color:#b4b4b4
}

.pagination .pagi-btn{
    font-family:Tahoma;
    background:#fff;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:1px solid #ddd;
    width:34 px-2px;
    height:34 px-2px;
    text-align:center
}

.pagination .pagi-btn:hover{
    padding:1px;
    border:none;
    background:#ea4f2b;
    color:#fff
}

.pagination-loading{
    background:#fff url('../img/loading.gif?1427785740') no-repeat center center;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity:0.6
}

.wgt-layer{
    background:#fff;
    border:1px solid #ddd;
    position:absolute;
    z-index:1000;
    -moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
    display:none
}

.wgt-layer .wgt-layer-cont{
    padding:10px;
    position:relative;
    z-index:10
}

.wgt-layer .ico-arr-up{
    position:absolute;
    top:-10px;
    _top:-13px;
    border:5px dashed transparent;
    border-bottom:5px solid #ddd;
    width:0;
    height:0;
    font-size:0;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:-3px
}

.wgt-layer .wgt-layer-bg{
    position:absolute;
    width:100%;
    height:100%;
    _width:auto;
    padding:30px;
    left:-30px;
    top:-10px;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity:0
}

.wgt-confirm{
    position:fixed;
    _position:absolute;
    left:50%;
    top:50%;
    width:200px;
    display:block;
    text-align:center;
    z-index:9999
}

.wgt-confirm .wgt-confirm-title{
    margin:0 0 5px
}

.wgt-confirm .btns{
    padding:10px 0 0
}

.wgt-confirm .btns .btn, .wgt-confirm .btns .btn-upload{
    margin:0 5px
}

.wgt-dialog .wgt-layer-cont{
    padding:0;
    position:static
}

.wgt-dialog .hd{
    background:#f0f0f0;
    height:40px;
    line-height:40px;
    position:relative;
    padding:0 10px
}

.wgt-dialog .hd h3{
    line-height:40px;
    font-size:16px
}

.wgt-dialog .hd .close{
    position:absolute;
    right:10px;
    top:-1px;
    color:#ddd;
    font-size:14px
}

.wgt-dialog .hd .close:hover{
    color:#333
}

.wgt-dialog .bd{
    padding:8px
}

.wgt-modal{
    background:#000;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity:0.7
}

.wgt-share{
    padding:0 0 0 140px;
    width:360px;
    *zoom:1;
    display:block
}

.wgt-share:after{
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden
}

.wgt-share .share-code{
    position:relative;
    margin-left:-140px;
    _display:inline;
    width:125px;
    overflow:hidden;
    float:left;
    text-align:center
}

.wgt-share .share-code img{
    display:block;
    margin:0 0 10px
}

.wgt-share .share-code .hint{
    color:#999
}

.wgt-share .input-text, .wgt-share .input-price{
    height:24px;
    line-height:24px;
    border:none;
    padding-left:0;
    width:190px
}

.wgt-share .btn-open, .wgt-share .btn-copy{
    margin-left:5px
}

.wgt-share .btn-copy-fixed{
    position:absolute;
    right:10px;
    top:17px
}

.wgt-share .share-btns{
    padding:20px 0 0
}

.wgt-share .share-btns li{
    display:inline;
    margin:0 2px;
    font-size:12px
}

.wgt-share .share-btns a{
    color:#333
}

.wgt-facetoface{
    width:310px
}

.wgt-facetoface img{
    float:left
}

.wgt-facetoface .download{
    margin:5px 0 0 75px
}

.wgt-facetoface p{
    width:220px;
    margin:10px 0 0 75px;
    color:#b2b2b2
}

.wgt-upload-thumb{
    margin:10px 0
}

.wgt-card-hint{
    position:absolute;
    background:#ffefb1;
    border:1px solid #ffd196;
    height:40px;
    font-size:20px;
    line-height:40px;
    padding:0 12px;
    font-weight:bold;
    color:#914d37
}

.event-selector{
    margin:-8px;
    overflow:hidden
}

.event-selector .event-types{
    width:120px;
    float:left;
    padding:10px 0 9999px;
    margin-bottom:-9999px;
    border-right:1px solid #ddd;
    overflow:hidden
}

.event-selector .event-types .item{
    padding:0 0 0 15px;
    font-size:14px;
    line-height:30px;
    cursor:pointer
}

.event-selector .event-types a{
    width:120px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    color:#555;
    display:block
}

.event-selector .event-types .cur a{
    color:#ea4f2b
}

.event-selector .events-list{
    margin:0 0 0 120px;
    height:380px;
    padding:10px
}

.event-selector .events-list .items{
    margin:0 0 5px;
    *zoom:1;
    display:block
}

.event-selector .events-list .items:after{
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden
}

.event-selector .events-list .ico-item-hl{
    display:none;
    position:absolute;
    right:-2px;
    top:-2px
}

.event-selector .events-list .active .ico-item-hl{
    display:block
}

.event-selector .events-list .item{
    background:#f6f6f6;
    float:left;
    border:1px solid #ddd;
    position:relative;
    width:130px;
    height:130px;
    margin:7px;
    color:#555;
    cursor:pointer;
    overflow:hidden
}

.event-selector .events-list .item:hover{
    background:#fff;
    border-color:#ea4f2b
}

.event-selector .events-list .item-img{
    max-width:130px;
    max-height:130px
}

.event-selector .events-list .item-name{
    display:block;
    padding:10px;
    font-size:12px
}

.event-selector .product-items .item{
    background:#fff;
    text-align:center
}

.event-selector .product-items .disabled-icon{
    position:absolute;
    width:50px;
    height:50px;
    left:50%;
    top:50%;
    margin:-43px 0 0 -25px;
    color:#fff;
    background:#000;
    text-align:center;
    line-height:50px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity:0.5
}

.event-selector .product-items .item-name{
    background:#000;
    color:#fff;
    width:120px;
    padding:0 5px;
    position:absolute;
    left:0;
    bottom:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity:0.8;
    height:40px;
    line-height:20px;
    text-align:left
}

.event-selector .event-comp{
    overflow:hidden;
    display:none
}

.event-selector .btns{
    background:#f6f6f6;
    margin-left:120px;
    text-align:center;
    padding:15px;
    border-top:2px solid #ddd
}

.event-selector .pagination a, .event-selector .pagination span{
    width:25px;
    height:25px;
    line-height:25px
}

.wgt-tag-selector{
    position:relative;
    overflow:visible
}

.wgt-tag-selector .handler-cont{
    margin:0
}

.wgt-tag-selector .handler{
    display:inline-block;
    height:20px;
    line-height:20px
}

.wgt-tag-selector .selected-tags{
    *zoom:1;
    display:block;
    padding:5px 0 0 25px
}

.wgt-tag-selector .selected-tags:after{
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden
}

.wgt-tag-selector .selected-tags .iconfont{
    color:#aeaeae;
    float:left;
    margin:2px 0 0 -25px
}

.wgt-tag-selector .selected-tags .tags-list{
    *zoom:1;
    display:block
}

.wgt-tag-selector .selected-tags .tags-list:after{
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden
}

.wgt-tag-selector .selected-tags .item{
    background:#43b3cb;
    float:left;
    height:22px;
    line-height:22px;
    padding:0 8px;
    color:#fff;
    margin:0 5px 5px 0;
    white-space:nowrap;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px
}

.wgt-tag-selector .selected-tags .item a{
    margin-left:5px;
    color:#fff
}

.wgt-tag-selector .tag-selector{
    background:#fff;
    border:1px solid #ec4e1e;
    position:absolute;
    top:25px;
    left:0;
    width:200px;
    display:none
}

.wgt-tag-selector .tag-selector .sel-tit{
    background:#ec4e1e;
    height:28px;
    line-height:28px;
    color:#fff;
    text-align:center
}

.wgt-tag-selector .tag-selector .sel-tit .iconfont{
    margin-right:5px
}

.wgt-tag-selector .tag-selector .sel-cont{
    overflow-y:scroll;
    overflow-x:hidden;
    max-height:150px
}

.wgt-tag-selector .tag-selector .tags-list{
    padding:3px 0
}

.wgt-tag-selector .tag-selector .item{
    padding:3px 5px;
    color:#777777
}

.media-menus{
    position:relative
}

.media-menus .wgt-tabs{
    padding:0 0 0 5px
}

.media-menus .wgt-tabs a{
    height:30px;
    line-height:30px
}

.media-menus .wgt-tabs .cur{
    height:28px;
    line-height:25px
}

.media-menus .media-tit{
    font-size:14px;
    line-height:28px;
    padding:0 0 0 5px
}

.media-menus .media-search{
    position:absolute;
    right:0;
    top:0
}

.media-menus .media-search .input-text, .media-menus .media-search .input-price{
    height:18px;
    line-height:18px;
    width:180px;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box
}

.goodsList-change{
    padding:0 0 15px 15px;
    height:60px
}

.goodsList-change .step-1 p{
    margin-top:10px
}

.goodsList-change .step-2, .goodsList-change .step-3, .goodsList-change .step-4{
    display:none
}

.goodsList-change .step-2 .reset-file{
    color:#c7c7c7
}

.goodsList-change .step-3 p{
    height:60px;
    line-height:60px
}

.goodsList-change .step-4 p{
    height:60px;
    line-height:60px
}

.goodsList-change .change-action{
    margin:10px 0 0 0
}

.goodsList-change .change-action .btn-primary{
    margin-left:10px
}

.goodsList-change .btn-primary{
    margin-left:5px
}

.goodsList-change .added-info{
    margin:10px 0 0 0
}

.goodsList-change .error-info{
    margin-left:15px;
    color:#cc0000
}

hr{
    border:none;
    color:white;
    background:transparent;
    margin:20px 0;
    height:0;
    padding:0;
    font-size:0;
    border-top:1px solid #eeeeee;
    overflow:hidden
}

.form hr{
    margin:5px 0 20px 0
}

.form label{
    cursor:pointer
}

.form h4{
    padding:0 0 10px;
    font-weight:bold
}

.form-group{
    padding:0 5px 15px 130px;
    *zoom:1;
    display:block
}

.form-group:after{
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden
}

.form-group .ctl-label{
    width:120px;
    padding:10px 0 0;
    margin:0 0 0 -130px;
    *display:inline;
    float:left;
    text-align:right
}

.form-group .ctl-label em{
    margin:0 3px 0 0;
    color:#ea4f2b
}

.form-group .ctl{
    padding:8px 0 0
}

.form-group .ctl-txt{
    padding:10px 0 0
}

.form-group .ctl-list{
    padding:5px 0 0
}

.form-group .ctl-list li{
    padding:5px 0 0 26px
}

.form-group .ctl-list li input[type=radio], .form-group .ctl-list li input[type=checkbox], .form-group .ctl-list li .icheck-item{
    margin-left:-26px;
    margin-right:5px
}

.form-group em.red{
    margin:0 3px 0 0
}

.form-group-block{
    margin:0 0 15px
}

.form-group-block .ctl-label{
    margin:0 0 10px;
    display:block
}

.form-group-line{
    padding:0 0 10px
}

.form-group-line .ctl-label{
    padding:10px 0;
    display:block;
    position:relative
}

.form-group-line .ctl-hint{
    position:absolute;
    right:0;
    color:#999;
    font-size:0.9em
}

.form-group-line label.error{
    padding:5px 0 0
}

.input-text, .input-price, .input-search, .input-calendar, .input-datetime{
    background:#fff;
    height:31px;
    line-height:31px;
    padding:2px 10px;
    width:170px;
    border:1px solid #ddd;
    outline:none;
    vertical-align:middle;
    -moz-box-shadow:inset 0 0 1px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow:inset 0 0 1px rgba(0, 0, 0, 0.02);
    box-shadow:inset 0 0 1px rgba(0, 0, 0, 0.02);
    -moz-transition:border-color, box-shadow 0.3s;
    -o-transition:border-color, box-shadow 0.3s;
    -webkit-transition:border-color, box-shadow 0.3s;
    transition:border-color, box-shadow 0.3s
}

.input-text:hover, .input-price:hover, .input-search:hover, .input-calendar:hover, .input-datetime:hover{
    border-color:#bbb
}

.input-text:focus, .input-price:focus, .input-search:focus, .input-calendar:focus, .input-datetime:focus{
    border-color:#ea4f2b
}

.input-smsInput{
    width:166px
}

.input-search{
    background:url('../img/ico_search.png?1427785739') right 10px no-repeat;
    *margin-right:2px
}

.input-calendar{
    width:130px
}

textarea.input-text, textarea.input-price, .input-area.input-text, .input-area.input-price{
    line-height:1.67;
    height:5em
}

textarea.input-xh, .input-area.input-xh{
    height:10em
}

textarea.input-xxh, .input-area.input-xxh{
    height:15em
}

textarea.input-xxxh, .input-area.input-xxxh{
    height:24em
}

input.error, textarea.error{
    border:1px solid #ec5d3c
}

input.success, textarea.success{
    border:1px solid #80b534
}

label.error{
    color:#ff5243;
    white-space:nowrap;
    display:inline-block;
    vertical-align:middle;
    padding:5px 0 0 5px;
    margin:-3px 0 0
}

label.error:before{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -webkit-text-stroke-width:0.2px;
    -moz-osx-font-smoothing:grayscale;
    content:'\e605';
    font-size:12px;
    margin-right:5px;
    color:#ff5243
}

.input-num{
    width:50px
}

.input-price{
    background:#fff url('../img/ico_currency.png?1427785739') no-repeat 6px 45%;
    width:64.6px;
    padding-left:20px
}

.input-url{
    background:#fff url('../img/ico_http.png?1427785739') no-repeat 6px 60%;
    width:255px;
    padding-left:47px
}

.input-mini{
    width:34px
}

.input-small{
    width:85px
}

.input-large{
    width:204px
}

.input-xlarge{
    width:289px
}

.input-xxlarge{
    width:442px
}

.select{
    background:#fff;
    width:auto;
    height:34px;
    line-height:34px;
    padding:5px;
    border:1px solid #eaeaea;
    outline:0
}

.btn, .btn-upload{
    font-family:"微软雅黑", "Microsoft YaHei", "Hiragino Sans GB", Helvetica, Arial, sans-serif;
    font-size:12px;
    background:#fafafa;
    border:1px solid #ddd;
    display:inline-block;
    vertical-align:middle;
    *vertical-align:auto;
    *zoom:1;
    *display:inline;
    overflow:hidden;
    height:25px;
    line-height:25px;
    padding:2px 15px;
    margin:0;
    color:#666666;
    text-decoration:none;
    text-align:center;
    white-space:nowrap;
    *overflow:visible;
    *height:30px;
    *background:#e6e6e6;
    *border:0;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    vertical-align:middle;
    cursor:pointer;
    outline:none
}

.btn:hover, .btn-upload:hover{
    text-decoration:none;
    background:#eeeeee;
    color:#000
}

.btn:active, .btn-upload:active{
    background:#cccccc;
    color:#000
}

.btn.disabled, .disabled.btn-upload{
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity:0.8;
    cursor:default
}

.btn.disabled:hover, .disabled.btn-upload:hover, .btn.disabled:hover, .disabled.btn-upload:hover{
    background:#fafafa;
    color:#666666
}

.form-actions{
    margin:15px 0 0 130px
}

.form-actions .btn, .form-actions .btn-upload{
    margin:0 5px 0 0
}

.btn-primary{
    background:#ea4f2b;
    border-color:#ea4f2b;
    color:#fff
}

.btn-primary:hover{
    background:#da3914;
    color:#fff
}

.btn-primary:active{
    background:#c3300e;
    color:#fff
}

.btn-primary.disabled:hover, .btn-primary.disabled:active{
    background:#ea4f2b;
    color:#fff
}

.btn-small{
    height:24px;
    line-height:24px;
    padding:2px 10px;
    font-size:0.9em
}

.btn-mini{
    height:18px;
    line-height:18px;
    padding:2px 10px;
    font-size:0.9em
}

.btn-large{
    height:35px;
    line-height:35px;
    *line-height:24px;
    padding:2px 23px;
    text-align:center;
    font-size:1.1em
}

.btn-shin{
    height:33px;
    line-height:33px;
    padding:2px 20px;
    text-align:center;
    min-width:60px
}

.btn-line{
    padding:2px 0;
    width:100%
}

.btn-upload{
    padding:0;
    text-align:center
}

.help-block{
    margin:8px 0 0;
    color:#c7c7c7;
    font-size:12px;
    line-height:1.5
}

.help-inline{
    margin:0 0 0 3px;
    color:#c7c7c7;
    font-size:12px
}

select, input, textarea, button, .input-text, .input-price{
    font-family:"微软雅黑", "Microsoft YaHei", "Hiragino Sans GB", Helvetica, Arial, sans-serif
}

::-webkit-input-placeholder{
    font-family:"微软雅黑", "Microsoft YaHei", "Hiragino Sans GB", Helvetica, Arial, sans-serif
}

::-moz-placeholder{
    font-family:"微软雅黑", "Microsoft YaHei", "Hiragino Sans GB", Helvetica, Arial, sans-serif
}

:-ms-input-placeholder{
    font-family:"微软雅黑", "Microsoft YaHei", "Hiragino Sans GB", Helvetica, Arial, sans-serif
}

.goods-img{
    border:1px solid #ddd;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    overflow:hidden;
    *display:block;
    *font-size:61.11px;
    *font-family:Arial;
    width:70px;
    height:70px
}

.goods-img img{
    vertical-align:middle
}

.mod-goods-create{
    padding:20px 0
}

.mod-goods-create .goods-imgs-list{
    width:700px
}

.mod-goods-create .goods-imgs-list .item, .mod-goods-create .goods-imgs-list .item-more{
    float:left;
    position:relative;
    width:102px;
    height:130px;
    overflow:hidden;
    margin:0 10px 10px 0
}

.mod-goods-create .goods-imgs-list .item-more{
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -webkit-transition:all 0.5s;
    transition:all 0.5s
}

.mod-goods-create .goods-imgs-list .item-main .btn-set-default{
    display:none !important
}

.mod-goods-create .goods-imgs-list .disabled{
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity:0.4
}

.mod-goods-create .goods-img{
    border:1px solid #ddd;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    overflow:hidden;
    *display:block;
    *font-size:87.3px;
    *font-family:Arial;
    width:100px;
    height:100px
}

.mod-goods-create .goods-img img{
    vertical-align:middle
}

.mod-goods-create .goods-img .btns{
    background:#fff;
    position:absolute;
    width:100px;
    left:1px;
    top:85px;
    height:16px;
    overflow:hidden;
    font-size:12px;
    line-height:14px;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity:0.7;
    -moz-transition:opacity 0.5s;
    -o-transition:opacity 0.5s;
    -webkit-transition:opacity 0.5s;
    transition:opacity 0.5s;
    text-align:center
}

.mod-goods-create .goods-img .btns .iconfont{
    color:#777;
    font-size:11px;
    margin:0 2px
}

.mod-goods-create .goods-img:hover .btns{
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity:0.9
}

.mod-goods-create .goods-img:hover .btn-set-default{
    display:block
}

.mod-goods-create .goods-img .btn-set-default{
    display:none;
    vertical-align:top;
    position:absolute;
    padding:2px 0;
    top:30px;
    left:50%;
    width:60px;
    margin-left:-30px;
    font-size:12px
}

.mod-goods-create .upload-img{
    position:absolute;
    width:102px;
    height:102px;
    left:0;
    top:0;
    cursor:pointer
}

.mod-goods-create .upload-img input{
    visibility:hidden
}

.mod-goods-create .upload-img:hover{
    background:#c0c0c0;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity:0.5
}

.mod-goods-create .upload-img.disabled{
    cursor:default
}

.mod-goods-create .uploadify-queue-item{
    position:absolute;
    width:100px;
    height:100px;
    left:1px;
    top:1px;
    text-align:center;
    padding:0;
    margin:0
}

.mod-goods-create .uploadify-queue-item .loading{
    margin-top:16px
}

.mod-goods-create .goods-img-title{
    height:20px;
    line-height:20px;
    white-space:nowrap;
    text-align:center;
    margin:5px 0 0
}

.mod-goods-create .goods-props-list{
    background:#fafafa;
    border:1px solid #ddd;
    padding:17px 26px;
    margin:10px 0 0
}

.mod-goods-create .goods-props-list h4{
    font-weight:normal;
    font-size:1em;
    margin:0 0 15px;
    padding:0
}

.mod-goods-create .goods-props-list .btn-add-prop{
    margin:20px 0 10px;
    display:inline-block;
    *zoom:1
}

.mod-goods-create .goods-props-list td{
    padding:7px 0;
    vertical-align:top
}

.mod-goods-create .goods-props-list .input-mini{
    width:78px
}

.mod-goods-create .goods-props-list .opts{
    width:100px;
    text-align:center;
    padding:15px 0 0
}

.mod-goods-create .goods-props-list .opts a{
    margin:0 5px;
    color:#999
}

.mod-goods-create .goods-props-list .opts a:hover{
    color:#000
}

.mod-goods-create .goods-props-list .opts .iconfont{
    font-size:12px
}

.mod-goods-create .hot-tags-list{
    padding:8px 0 0
}

.mod-goods-create .hot-tags-list .item{
    background:#8cc8ec;
    display:inline-block;
    *display:inline;
    *zoom:1;
    padding:0 10px;
    height:24px;
    line-height:24px;
    color:#fff
}

.mod-goods-create .hot-tags-list .item:hover{
    background:#60b3e5
}

.mod-goods-create .hot-tags-list .i1{
    background:#fe7360
}

.mod-goods-create .hot-tags-list .i1:hover{
    background:#fe462d
}

.mod-goods-create .hot-tags-list .i2{
    background:#8cc8ec
}

.mod-goods-create .hot-tags-list .i2:hover{
    background:#60b3e5
}

.mod-goods-create .hot-tags-list .i3{
    background:#b094de
}

.mod-goods-create .hot-tags-list .i3:hover{
    background:#936dd2
}

.mod-goods-create .hot-tags-list .i4{
    background:#f4ce77
}

.mod-goods-create .hot-tags-list .i4:hover{
    background:#f0bd48
}

.mod-goods-create .hot-tags-list .i5{
    background:#b5ec67
}

.mod-goods-create .hot-tags-list .i5:hover{
    background:#9fe63a
}

.mod-goods-create .hot-tags-list .i6{
    background:#96b2df
}

.mod-goods-create .hot-tags-list .i6:hover{
    background:#6f95d3
}

.mod-goods-create .sec-goods-props{
    padding:20px 40px
}

.mod-goods-create .sec-goods-shipping{
    background:#f8f8f8;
    padding:10px 5px;
    border:1px solid #e9e9e9;
    margin:10px 0 0;
    width:350px
}

.mod-goods-create .sec-goods-shipping .form-group{
    padding-left:90px
}

.mod-goods-create .sec-goods-shipping .ctl-label{
    margin-left:-100px;
    width:90px
}

.mod-goods-create .sec-adv-setting{
    padding:20px 0 0
}

.mod-goods-create .link-adv-setting{
    padding:0 0 0 30px;
    line-height:30px
}

.mod-goods-create .sec-yl-promote{
    background:#fafafa;
    border:1px solid #ddd;
    padding:15px 25px;
    margin:0 0 15px
}

.mod-goods-create textarea.input-text, .mod-goods-create textarea.input-price{
    width:98%;
    height:100px
}

.mod-goods-create .sec-more{
    padding:0 40px
}

.mod-goods-create .form-actions{
    margin-left:0
}

.mod-goods-complete .download-facetoface{
    width:125px;
    text-align:center;
    margin:10px 0
}

.mod-goods-complete .wgt-share{
    width:380px
}

.mod-goods-complete .complete-status{
    margin:0 0 25px
}

.mod-goods-complete .form-actions{
    padding:20px 0;
    margin:0;
    border-top:1px solid #ddd;
    margin-top:30px
}

.promotion-rules{
    padding:10px 0 0
}

.promotion-rules li{
    padding:5px 0
}

body{
    font-family:"微软雅黑", "Microsoft YaHei", "Hiragino Sans GB", Helvetica, Arial, sans-serif;
    font-size:14px
}

.page-passport{
    background:#2b1612
}

.page-passport .footer{
    padding:100px 0 0;
    text-align:center;
    font-size:12px;
    height:55px;
    color:#fff;
    line-height:55px;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=36);
    opacity:0.36
}

.page-passport .footer p{
    margin:0
}

.passport-bg{
    background:url('../img/p_bg.jpg?1427785740') no-repeat 50% 50%;
    background-size:auto;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:-1
}

.page-passport .mod-title{
    width:420px;
    padding:65px 0 50px;
    text-align:center;
    margin:0 auto
}

.page-passport .mod-title small{
    font-size:20px;
    color:#c8c8c8
}

.page-passport .logo{
    background:url('../img/p_logo.png?1427785740') no-repeat;
    display:block;
    width:232px;
    height:44px;
    margin:0 auto 17px
}

.page-passport .logo span{
    visibility:hidden
}

.passport-panel{
    background:#fff;
    width:340px;
    margin:0 auto;
    padding:30px 40px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px
}

.passport-panel .input-xlarge{
    width:319px
}

.mod-passport .mod-hd h3{
    font-size:20px;
    color:#8e8584;
    margin:0 0 35px;
    padding:0;
    text-align:center
}

.mod-passport .mod-hd h4{
    font-size:16px;
    color:#000;
    margin:0 0 20px;
    padding:0;
    text-align:center
}

.mod-passport .mod-bd .wx-qrcodeImg{
    text-align:center
}

.mod-passport .mod-bd .wx-qrcodeName{
    color:#999;
    text-align:center;
    margin-bottom:20px
}

.mod-passport .form-group-line{
    position:relative
}

.mod-passport .btn-retrieve-pw{
    position:absolute;
    right:12px;
    _right:52px;
    top:11px
}

.mod-passport .go-reg{
    padding:10px 0 15px;
    text-align:center;
    color:#b4b4b4;
    border-bottom:1px solid #e8e8e8
}

.mod-passport .oauth-logins{
    padding:10px 20px 20px;
    text-align:center
}

.mod-passport .oauth-logins .hint{
    color:#ccc;
    margin:0 0 15px
}

.mod-passport .oauth-logins .ico{
    background:url('../img/p_icos.png?1427785740') no-repeat;
    width:30px;
    height:30px;
    overflow:hidden;
    display:inline-block;
    *zoom:1;
    vertical-align:middle;
    margin:0 15px
}

.mod-passport .oauth-logins .ico span{
    visibility:hidden
}

.mod-passport .oauth-logins .ico:hover{
    background-position:0 -30px
}

.mod-passport .oauth-logins .ico-qq{
    background-position:-30px 0
}

.mod-passport .oauth-logins .ico-qq:hover{
    background-position:-30px -30px
}

.mod-passport .oauth-logins .ico-weibo{
    background-position:-60px 0;
    width:34px
}

.mod-passport .oauth-logins .ico-weibo:hover{
    background-position:-60px -30px
}

.mod-passport label.error{
    margin-top:5px;
    display:block
}
